.reminder-bar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-image: -webkit-linear-gradient(270deg, #0697b5, #0697b5);
  background-image: linear-gradient(180deg, #0697b5, #0697b5);
  color: #A71C20;
  font-size: 20px;
  text-align: center;
}

.navbar {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, #272627, #272627);
  background-image: linear-gradient(180deg, #272627, #272627);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.navbar:hover {
  color: #0095b3;
}

.navbar.w--current {
  color: #a71c20;
}

.navbar.menu {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.navbar.menu.w--current {
  color: #a71c20;
}

.logo {
  margin-right: 5px;
  padding-top: 0px;
  padding-right: 0px;
}

.graphic-title {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 152, 255, .03);
  background-image: url('../images/FortWorth_1920.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.graphictitleoverlay {
  margin-top: 200px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

.arx-logo-overlay {
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  text-align: right;
}

._3linename {
  padding-top: 5px;
  padding-left: 7px;
  text-align: left;
}

.info1 {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
}

._3-keywords {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.video {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: -webkit-linear-gradient(270deg, #000, #000), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
  background-image: linear-gradient(180deg, #000, #000), linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
}

.footer {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, #272627, #272627);
  background-image: linear-gradient(180deg, #272627, #272627);
}

.nab-menu {
  color: #0697b5;
  text-align: right;
}

.address {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: silver;
  text-align: right;
}

.social-media {
  position: static;
  top: 0px;
  right: -5px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
}

._2linename {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 15px;
}

.footerlinks {
  margin-top: 0px;
  padding-top: 0px;
  color: silver;
}

.footerlinks:hover {
  color: #a71c20;
}

.footerlinklist {
  margin-top: 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
}

.questiontitle {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #a71c20;
  text-align: center;
}

._3columndescription {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
}

.infosection {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tableimage {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
}

.bottomsignup {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-linear-gradient(270deg, #0697b5, #0697b5);
  background-image: linear-gradient(180deg, #0697b5, #0697b5);
}

.emailform {
  margin-top: 20px;
}

.submitbutton {
  background-image: -webkit-linear-gradient(270deg, #b80c0c, #b80c0c);
  background-image: linear-gradient(180deg, #b80c0c, #b80c0c);
  text-align: center;
}

.formheader {
  margin-top: 40px;
  color: #fff;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 0px;
  color: #a71c20;
  text-align: center;
}

.redsectionhead {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #a71c20;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 34px;
}

.comingsoondetails {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
}

.details {
  padding-bottom: 20px;
  font-size: 18px;
}

.blueheading3 {
  color: #000506;
}

.text-block {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}

.text-block.columndescription {
  padding-left: 10px;
}

.list-item {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
}

.list-item-2 {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
}

.list-item-3 {
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
}

.heading {
  text-align: center;
}

.column {
  padding-left: 40px;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
}

.unordered-list {
  padding-top: 10px;
}

.list-item-4 {
  list-style-type: none;
}

.list-item-5 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-6 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-7 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-8 {
  font-size: 18px;
  line-height: 24px;
}

.important-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.list-item-9 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

.list-item-10 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-11 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-12 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-13 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-14 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-15 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-16 {
  font-size: 18px;
  line-height: 24px;
}

.list-item-17 {
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.important-text-2 {
  font-weight: 400;
}

.list-item-18 {
  font-size: 18px;
  line-height: 24px;
}

.section {
  padding-top: 0px;
}

.section-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slide {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: contain;
}

.slide-2 {
  background-image: url('../images/buildingfront.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide2 {
  background-image: url('../images/stopsign.jpg'), url('../images/example-bg.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, 125px;
  background-repeat: repeat, repeat;
}

.slide2.b {
  background-image: url('../images/morton_foch_signs.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide2.e {
  background-image: url('../images/turnsouth.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide2.e._1 {
  background-image: url('../images/chimysign.jpg'), url('../images/turnsouth.jpg'), -webkit-linear-gradient(270deg, null, null);
  background-image: url('../images/chimysign.jpg'), url('../images/turnsouth.jpg'), linear-gradient(180deg, null, null);
  background-position: 50% 50%, 50% 50%, 0px 0px;
  background-size: auto, cover, auto;
  background-repeat: repeat, repeat, repeat;
}

.slide5 {
  background-image: url('../images/chimysign.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-block-2 {
  text-align: center;
}

.announcement_link {
  color: #fff;
}

.announcement_link:hover {
  color: #060000;
}

.linkfooter {
  color: silver;
  text-decoration: none;
}

.linkfooter:hover {
  color: #a71c20;
}

.link {
  color: silver;
  text-decoration: none;
}

.link:hover {
  color: #a71c20;
}

.link-2 {
  color: silver;
  text-decoration: none;
}

.link-2:hover {
  color: #a71c20;
}

.link-3 {
  color: silver;
  text-decoration: none;
}

.link-3:hover {
  color: #a71c20;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-block-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.section-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-4 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
}

.tablink {
  width: 20%;
  margin-right: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  text-align: center;
}

.tablink.w--current {
  background-color: #0095b3;
  color: #fff;
  font-size: 18px;
}

.tab-pane {
  padding: 30px 50px;
  background-image: -webkit-linear-gradient(270deg, #0095bb, #0095bb);
  background-image: linear-gradient(180deg, #0095bb, #0095bb);
  color: #fff;
}

.tab-pane-2 {
  padding: 30px 50px;
  background-image: -webkit-linear-gradient(270deg, #0095b3, #0095b3);
  background-image: linear-gradient(180deg, #0095b3, #0095b3);
  color: #fff;
}

.tab-pane-3 {
  padding: 30px 50px;
  background-image: -webkit-linear-gradient(270deg, #0095b3, #0095b3);
  background-image: linear-gradient(180deg, #0095b3, #0095b3);
  font-size: 16px;
}

.alist {
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
  line-height: 20px;
}

.spacedlist {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slide-3 {
  background-image: url('../images/ARX-Fit-29.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.section-5 {
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .graphictitleoverlay {
    margin-top: 175px;
  }
  .info1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .video {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .redsectionhead {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: -15px;
    line-height: 38px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .tablink {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .logo {
    padding-left: 5px;
  }
  .redsectionhead {
    padding-left: 5px;
  }
  .comingsoondetails {
    padding-left: 5px;
  }
  .tablink {
    width: 30%;
  }
}

@media (max-width: 479px) {
  .navbar {
    position: static;
    top: 0px;
    right: 0px;
    float: none;
  }
  .logo {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    clear: none;
    text-align: center;
  }
  .graphictitleoverlay {
    margin-top: 75px;
    text-align: center;
  }
  ._3linename {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .video {
    padding-top: 1px;
  }
  .redsectionhead {
    padding-left: 5px;
  }
  .comingsoondetails {
    padding-left: 5px;
  }
}
