<div class="bottomsignup">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <h2 class="formheader">JOIN US</h2>
        <div>We want to keep in touch with you so we can invite you to our events and send you special offers or promotions!</div>
      </div>
      <div class="w-col w-col-6">
        <div class="emailform w-form">
          <form action="https://www.getdrip.com/forms/96136406/submissions" method="post" data-drip-embedded-form="96136406" data-name="Email Form" id="email-form" name="email-form">
            <label for="drip-name">Name:</label>
            <input class="w-input" data-name="Name" id="drip-name" maxlength="256" name="fields[name]" placeholder="Enter your name" type="text">
            <label for="drip-email">Email Address:</label>
            <input class="w-input" data-name="Email" id="drip-email" maxlength="256" name="fields[email]" placeholder="Enter your email address" required="required" type="email">
            <input class="submitbutton w-button" data-wait="Please wait..." type="submit" value="Submit" name="submit"data-drip-attribute="sign-up-button" />
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
