<div class="footer">
  <div class="w-container">
    <div>
      <div id="Footer"><img class="_2linename" sizes="(max-width: 545px) 100vw, 545px" src="/images/2Line_Name_White.png" srcset="/images/2Line_Name_White-p-500x96.png 500w, /images/2Line_Name_White.png 545w">
        <div class="w-row">
          <div class="w-col w-col-3">
            <div class="footerlinks"><a href="/schedule/" class="linkfooter">SCHEDULE</a>
              <br xmlns="http://www.w3.org/1999/xhtml"><a href="/careers/" class="link">CAREERS</a>
              <br xmlns="http://www.w3.org/1999/xhtml"><a href="/about/" class="link-2">ABOUT</a>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div>
              <div class="social-media">
                <a class="w-inline-block" href="https://www.facebook.com/optimalforcefitness/" target="_blank"><img alt="Facebook" class="tableimage" src="/images/FB_icon.png" width="50">
                </a>
                <a class="w-inline-block" href="https://plus.google.com/+OptimalForceFitnessFortWorth" target="_blank"><img class="tableimage" src="/images/GooglePlus_icon.png" width="50">
                </a>
                <a class="w-inline-block" href="https://www.instagram.com/optimalforcefitness/" target="_blank"><img class="tableimage" src="/images/IG_icon.png" width="50">
                </a>
              </div>
            </div>
            <div class="copyright">Copyright 2017 Optimal Force Fitness,
              <br>All Rights Reserved</div>
          </div>
          <div class="w-col w-col-3">
            <div class="address">1071 Foch Street
              <br>Fort Worth, TX 76107
              <br>817-601-5802</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="/js/webflow.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
