<div class="infosection">
  <h1 class="questiontitle">How will ARX help You?</h1>
  <div class="w-container">
    <div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="_3columndescription"><strong><em>For the Pro, Amateur, or</em></strong>
            <br><strong><em>Recreational Athlete..</em></strong>.</div><img class="tableimage" src="images/clock.png">
          <div class="_3columndescription">Spend less time in the gym and
            <br>more time on the practice
            <br>and playing field</div>
        </div>
        <div class="w-col w-col-4">
          <div class="_3columndescription"><strong><em>For the BUSY Parent</em></strong>
            <br><strong><em>and/or Professional...</em></strong>
          </div><img class="tableimage" src="images/graph_150.png">
          <div class="_3columndescription">Build muscle, increase bone density,
            <br>and lose body fat in a
            <br>fraction of the time</div>
        </div>
        <div class="w-col w-col-4">
          <div class="_3columndescription"><em><strong>For the Elderly, Rehabilitating</strong></em>
            <br><em><strong>Athlete, or Newcomers...</strong></em>
          </div><img class="tableimage" src="images/medical_clipboard.png">
          <div class="_3columndescription">ARX is safe and simple for all ages
            <br>and fitness levels. No weights to
            <br>drop or difficult techniques to learn</div>
        </div>
      </div>
    </div>
  </div>
</div>
