<div class="redsectionhead">
  <div class="w-container">
    <div>
      <div class="text-block-2"><em>1071 Foch Street - Fort Worth, Texas 76107</em>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="w-container">
    <div class="slider w-slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask">
        <div class="slide-2 w-slide"></div>
        <div class="slide2 w-slide"></div>
        <div class="b slide2 w-slide"></div>
        <div class="slide5 w-slide"></div>
        <div class="e slide2 w-slide"></div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-round w-slider-nav"></div>
    </div>
  </div>
</div>
<div class="container w-container">
  <div>
    <div class="text-block-3">Optimal Force Fitness is located in the Foch Street Warehouses.
      <br>Coming from West 7th Street, turn South on Foch Street.
      <br>When you get to the intersection at Morton/Foch, turn East at the Chimy's arrow.
      <br>At the end of that small stretch, as you approach Chimy's go South.
      <br>We are the 2nd from the end on your left, in the white and black striped building.
      <br>
      <br>Note: Google Maps does not currently have the correct directions.
      <br>For further directions or assistance, please contact us at 817.601.5802</div>
  </div>
</div>
