  <div class="navbar" data-ix="new-interaction">
    <div class="w-container">
      <div class="w-nav" data-animation="default" data-collapse="medium" data-duration="400">
        <div class="menu navbar w-container">
          <a class="w-nav-brand" href="/"><img class="logo" data-ix="new-interaction" src="/images/OptimalForceFitness_ColorLogo.png" width="125"><img class="_3linename" src="/images/3LayerLogo_White.png">
          </a>
          <nav class="nab-menu w-nav-menu" role="navigation">
            <a class="menu navbar w-nav-link" data-ix="new-interaction" href="/location/">
              <br>
              <br>Location
            </a>
            <a class="navbar w-nav-link" href="/schedule/">
              <br>
              <br>Schedule
            </a>
            <a class="menu navbar w-nav-link" href="/about/">
              <br>
              <br>About
            </a>
            <a class="menu navbar w-nav-link" href="/careers/">
              <br>
              <br>Careers
            </a>
          </nav>
          <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
